:root {
  --app-font-size: 16px;
}

html {
  font-size: var(--app-font-size);
}

.high-contrast {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;

  --ion-color-primary: #ffff00;
  --ion-color-primary-contrast: #000000;

  --ion-item-background: #000000;

  --ion-card-background: #000000;
}
